<div class="space-y-6">
  <div class="space-y-2">
    <h1
      class="text-4xl md:text-5xl font-bold text-text bg-gradient-to-r from-lavender to-blue bg-clip-text"
    >
      Angel M Velasquez
    </h1>
    <p class="text-lg font-medium bg-gradient-to-r from-ctp-lavender to-ctp-blue bg-clip-text text-transparent">
      Software Engineer and Data Analyst
    </p>
  </div>
</div>
