<div>
	<h1> Angel M Velasquez </h1>
	<p>Software Engineer and Data Analyst</p>
	<p>
		I'm a Swiss Army knife of software development with professional spanning developing virtual reality games, full-stack development, and teaching.
	</p>
	<p>
		I have a strong background in machine learning which goes along with my 
		data-driven approach to development to create the best product for the client and users.
	</p>
	<p>
		When I'm not programming, I like to lift weights, go on runs, 
		and listen to 80's music! I'm a sports analytics nerd to make up for my horrible predictions.
	</p>
</div>
