---
import About from "./About.astro";
import Links from "./Links.astro";
import Navigation from "../RightSide/Navigation.astro";

const sections = [
  { id: "about", label: "About" },
  { id: "experience", label: "Experience" },
  { id: "projects", label: "Projects" },
];
---

<div class="flex flex-col h-screen justify-between py-8 pr-6 overflow-y-auto">
  <div>
    <About />
    <Navigation sections={sections} />
  </div>
  <div class="mt-12">
    <Links />
  </div>
</div>
