---
import About from "./About.astro";
import Links from "./Links.astro";
import Navigation from "../RightSide/Navigation.astro";

const sections = [
    { id: "about", label: "About" },
    { id: "experience", label: "Experience" },
    { id: "projects", label: "Projects" },
];
---

<div
    class="flex flex-col h-full md:justify-between lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-[120%] lg:flex-col lg:justify-between lg:py-24"
>
    <div>
        <About />
        <Navigation sections={sections} />
    </div>
    <div class="mt-2 md:mt-12">
        <Links />
    </div>
</div>
