---
import {GithubIcon, LinkedinIcon, MailIcon} from "@lucide/astro";
import LinkIcon from "./LinkIcon.astro"
---
<div class="flex gap-5 pl-1 mt-8">
  <LinkIcon href="https://github.com/angel-721" icon={GithubIcon} />
  <LinkIcon href="https://linkedin.com/in/angel-m-velasquez" icon={LinkedinIcon} />
  <LinkIcon href="mailto:angelm.velasquez@proton.me" icon={MailIcon} />
</div>
