---
import {GithubIcon, LinkedinIcon, MailIcon} from "@lucide/astro";
import LinkIcon from "./LinkIcon.astro"
---
<div class="flex gap-4 items-center justify-center bg-surface0 p-6 rounded-xl border border-surface1 shadow-lg mt-30">
	<LinkIcon href="https://github.com/angel-721" icon={GithubIcon} hoverColor="lavender" />
  <LinkIcon href="https://linkedin.com/in/angel-m-velasquez" icon={LinkedinIcon} hoverColor="blue" />
  <LinkIcon href="mailto:angelm.velasquez@proton.me" icon={MailIcon} hoverColor="peach" />
</div>
