---
import './src/styles/global.css'
import ProjectCard from "../components/ProjectCard.astro";
import { projects } from "../data/projects";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Projects</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body class="bg-black text-white font-sans p-6 max-w-3xl mx-auto">
		<div class="grid grid-cols-2 gap-4">  
			<div>Angel</div>  
			<div>
    	<h1 class="text-3xl font-bold mb-6">Projects</h1>
    	<div class="grid gap-6">
    	  {projects.map(project => (
    	    <ProjectCard {...project} />
    	  ))}
    	</div>
			</div>
		</div>
  </body>
</html>

