<footer class="text-center">
	<small>
  	Created with <a href="https://astro.build/" target="_blank">Astro</a>.
    Styled with <a href="https://tailwindcss.com/" target="_blank">Tailwind CSS</a>.
    Deployed with <a href="https://vercel.com/" target="_blank">Vercel</a>.
    Icons from <a href="lucide.dev" target="_blank">Lucide</a>
	</small>
</footer>
