---
import {MoveUpRightIcon} from "@lucide/astro";
const { title, description, link } = Astro.props;
---

<a 
  href={link} 
  target="_blank" 
  rel="noopener noreferrer"
  class="block border rounded-2xl p-4 shadow hover:shadow-lg hover:bg-gray-50 transition-all duration-300 cursor-pointer group"
>
  <div class="flex mb-1">
    <h2 class="text-xl font-semibold flex-1">{title}</h2>
    <MoveUpRightIcon class="w-5 h-5 text-gray-400 group-hover:text-gray-600 group-hover:translate-x-1 group-hover:-translate-y-1 transition-all duration-300"/>
  </div>
  <p class="text-gray-600 mb-2">{description}</p>
</a>
