---
import ProjectCard from "./ProjectCard.astro";
import ExperienceCard from "./ExperienceCard.astro";
import { projects } from "../../data/projects";
import { experiences } from "../../data/experiences";
import { ArrowRightIcon } from "@lucide/astro";
---

<div class="space-y-8 md:space-y-12">
    <div
        class="space-y-3 md:space-y-4 text-subtext1 leading-relaxed text-sm md:text-base"
        id="about"
    >
        <p>
            I'm a Swiss Army knife of software development with professional
            experience in developing virtual reality games, full-stack
            development, and teaching.
        </p>
        <p>
            I have a strong background in machine learning which goes along with
            my data-driven approach to development to create the best product
            for the client and users.
        </p>
        <p class="hidden md:block">
            When I'm not programming, I like to lift weights, go on runs, and
            listen to 80's music! I'm a sports analytics nerd to make up for my
            horrible predictions.
        </p>
    </div>

    <section id="experience">
        <div class="space-y-8">
            {
                experiences.map((experience) => (
                    <ExperienceCard experience={experience} />
                ))
            }
        </div>
    </section>

    <section id="projects" class="mt-12">
        <div class="grid gap-6">
            {
                projects
                    .slice(0, 3)
                    .map((project) => <ProjectCard {...project} />)
            }
        </div>
        <a
            href="/projects"
            class="inline-flex items-center gap-2 text-2xl font-bold mb-6 text-ctp-rosewater hover:no-underline group transition-colors duration-200 mt-8"
        >
            <h3>View All Projects</h3>
            <ArrowRightIcon
                class="w-8 h-8 transition-transform duration-200 group-hover:translate-x-1"
            />
        </a>
    </section>
</div>
